<section class="hero is-danger is-medium header-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">
        Spots List
      </h1>
    </div>
  </div>

  <div class="add-spot-container">
    <button class="button is-primary" (click)="addNewSpot()">
      New Spot
    </button>
  </div>
</section>

<div class="rearrange-comment">Drag and Drop the Spot to rearrange</div>

<section class="spot-list-container">
  <div [dragula]='"spotList"' [dragulaModel]='spots_list'>
    <div class="list-item-container" *ngFor="let spot of spots_list | orderBy: 'order'">
    <span class="item-name" (click)="editSpot(spot)">
      {{spot.name}}
    </span>
      <span class="fa fa-close btn-close" (click)="deleteSpot(spot)"></span>
    </div>
  </div>
</section>
