.u-boxShadowBottomThinLighter {
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
}
.navbar-item .avatar img {
  max-height: 2rem;
  max-width: 2rem;
  border-radius: 20px;
}
.navbar-item {
  padding: .1rem 1rem;
}
