<nav class="navbar u-boxShadowBottomThinLighter" >
  <div class="navbar-brand u-boxShadowBottomThinLighter">
    <a class="navbar-item" routerLink="/" >
      <a routerLink="/" >
        <app-wordmark></app-wordmark>
      </a>
    </a>
    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}" class="navbar-item is-hidden-desktop-only" >
        Home
      </a>
      <a routerLink="reservations" routerLinkActive="is-active" class="navbar-item is-hidden-desktop-only">
        Reservations
      </a>
      <a routerLink="users" routerLinkActive="is-active" class="navbar-item is-hidden-desktop-only" *ngIf="user !== null && user?.admin">
        Clients
      </a>
      <a routerLink="profile" routerLinkActive="is-active" class="navbar-item is-hidden-desktop-only">
        Profile
      </a>
      <a routerLink="contact" routerLinkActive="is-active" class="navbar-item is-hidden-desktop-only">
        Contact
      </a>
      <span class="navbar-item " >
            <a class="button is-warning" routerLink="login" *ngIf="user === null; else alreadyLoggedIn">
              <span>Sign In</span>
            </a>
            <ng-template #alreadyLoggedIn>
              <div class="navbar-item has-dropdown is-right is-hoverable">
                <a class="navbar-link is-active avatar is-right">
                  <img class="card-img-top" [src]="user?.photo || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
                </a>
                <div class="navbar-dropdown is-right">
                  <a class="navbar-item " [routerLink]="['reservations', 'booking']">
                    Book Reservation
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item " [routerLink]="['profile']">
                    Account
                  </a>
                  <a class="navbar-item" routerLink="login">
                    Test Log In
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" (click)="logoutUser()">
                    Sign Out
                  </a>
                </div>
              </div>
            </ng-template>
          </span>
    </div>
  </div>
</nav>
