<nav class="navbar u-boxShadowBottomThinLighter" >
  <div class="navbar-brand u-boxShadowBottomThinLighter">
    <a class="navbar-item" routerLink="/" >
      <a routerLink="/" >
        <app-wordmark></app-wordmark>
      </a>
    </a>
    <div class="navbar-burger burger" data-target="navMenuExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExample" class="navbar-menu">
    <div class="navbar-start">
    </div>

    <div class="navbar-end">
      <a routerLink="/" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}"
         class="navbar-item is-hidden-desktop-only" *ngIf="user !== null">
        Home
      </a>
      <a routerLink="accounts" routerLinkActive="is-active" class="navbar-item is-hidden-desktop-only" *ngIf="user !== null && user?.admin">
        Accounts
      </a>
      <a routerLink="settings" routerLinkActive="is-active" class="navbar-item is-hidden-desktop-only" *ngIf="user !== null && !user?.admin">
        Settings
      </a>
      <span class="navbar-item" *ngIf="!!user">
        <div class="navbar-item has-dropdown is-right is-hoverable">
          <a class="navbar-link is-active avatar is-right">
            <img class="card-img-top" [src]="user?.photo || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
          </a>
          <div class="navbar-dropdown is-right btn-signOut">
            <a class="navbar-item" (click)="logoutUser()">
              Sign Out
            </a>
          </div>
        </div>
      </span>
    </div>
  </div>
</nav>
