<section class="hero is-primary is-medium header-image">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">contact</h1><h2 class="subtitle">Subtitle</h2>
    </div>
  </div>
</section>
<section class="section">
  <p class="has-text-centered">Contact Form goes here.</p>
  <div class="columns content is-centered">

    <form class="column is-half" autocomplete="off" novalidate [formGroup]="contactForm" (submit)="submitForm()">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="text" placeholder="Your full name" formControlName="name">
        </div>
      </div>

      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <!--is-danger when invalid -->
          <input class="input" type="text" placeholder="Enter a valid email" formControlName="email">
        </div>
        <!--<p class="help is-danger">This email is invalid</p>-->
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="textarea" placeholder="Say Hello!" formControlName="message"></textarea>
        </div>
      </div>

      <div class="field" style="margin: 1em 0">
        <div class="control">
          <button class="button is-primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
