.svgIcon--logoNew path:nth-child(1) {
  fill: #d0d2d3
}
.svgIcon--logoNew path:nth-child(2) {
  fill: #a6a8ab
}
.svgIcon--logoNew path:nth-child(3) {
  fill: #808184
}
.svgIcon--logoNew path:nth-child(4) {
  fill: #58595b
}
