<nav class="cat__core__top-sidebar cat__core__top-sidebar--bg">
    <div class="pull-right">
        <a href="javascript: void(0);" class="btn btn-sm btn-outline-default ladda-button">Update<span class="hidden-sm-down"> Dashboard</span></a>
        <a routerLink="/accounts-create" class="btn btn-sm btn-outline-default ladda-button reset-button">Create Access Key</a>
    </div>
    <span class="cat__core__title d-block mb-2">
        <!--<span class="text-muted">Home ·</span>-->
        <strong>Dashboard</strong>
        <small class="text-muted">statistics, charts, recent events and reports</small>
    </span>
</nav>
<div class="row">
    <div class="col-lg-12">
        <div class="cat__core__sortable" id="left-col">
            <section class="card" order-id="card-2">
                <div class="card-header">
                    <div class="pull-right cat__core__sortable__control">
                        <i class="icmn-minus mr-2 cat__core__sortable__collapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Collapse"></i>
                        <i class="icmn-plus mr-2 cat__core__sortable__uncollapse" data-toggle="tooltip" data-placement="left" title="" data-original-title="Uncollapse"></i>
                        <i class="icmn-cross cat__core__sortable__close" data-toggle="tooltip" data-placement="left" title="" data-original-title="Remove"></i>
                    </div>
                    <h5 class="mb-0 text-black">
                        <strong>Accounts</strong>
                        <small class="text-muted">Can you drag me now?</small>
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5" >
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                                    <img src="assets/images/nike.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Playroom</strong>
                                    <br />
                                    <span class="text-muted">@playroom</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5" >
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                                    <img src="assets/images/app.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Apple</strong>
                                    <br />
                                    <span class="text-muted">@apple</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                                    <img src="assets/images/bucks.jpg" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Levels</strong>
                                    <br />
                                    <span class="text-muted">Providence / Rhode Island</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                          <div class="cat__core__widget__1__plus"></div>
                          <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                            <img src="assets/images/fb.png" alt="Alternative text to the image">
                          </a>
                          <div class="my-3 text-center">
                            <strong class="font-size-18">Levels</strong>
                            <br />
                            <span class="text-muted">Providence / Rhode Island</span>
                          </div>
                          <div class="text-center">
                            <div class="btn-group text-center">
                              <button type="button" class="btn btn-sm btn-rounded">Add</button>
                              <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                                    <img src="assets/images/add.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Lovera VIP</strong>
                                    <br />
                                    <span class="text-muted">Miami / Florida</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                          <div class="cat__core__widget__1__plus"></div>
                          <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                            <img src="assets/images/cc.png" alt="Alternative text to the image">
                          </a>
                          <div class="my-3 text-center">
                            <strong class="font-size-18">Lovera VIP</strong>
                            <br />
                            <span class="text-muted">Miami / Florida</span>
                          </div>
                          <div class="text-center">
                            <div class="btn-group text-center">
                              <button type="button" class="btn btn-sm btn-rounded">Add</button>
                              <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="/account">
                                    <img src="assets/images/pum.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Liv</strong>
                                    <br />
                                    <span class="text-muted">Miami / Florida</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/food.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Republic</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                          <div class="cat__core__widget__1__plus"></div>
                          <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                            <img src="assets/images/mb.png" alt="Alternative text to the image">
                          </a>
                          <div class="my-3 text-center">
                            <strong class="font-size-18">Lovera VIP</strong>
                            <br />
                            <span class="text-muted">Miami / Florida</span>
                          </div>
                          <div class="text-center">
                            <div class="btn-group text-center">
                              <button type="button" class="btn btn-sm btn-rounded">Add</button>
                              <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                            </div>
                          </div>
                        </div>
                      </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/cal.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Republic</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/sup.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Republic</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/prada.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Prada 5th Avenue</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/bmw.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Republic</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/wes.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Republic</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                      <div class="col-xl-3">
                        <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                          <div class="cat__core__widget__1__plus"></div>
                          <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" [routerLink]="['/accounts', 'username']">
                            <img src="assets/images/ms.png" alt="Alternative text to the image">
                          </a>
                          <div class="my-3 text-center">
                            <strong class="font-size-18">Lovera VIP</strong>
                            <br />
                            <span class="text-muted">Miami / Florida</span>
                          </div>
                          <div class="text-center">
                            <div class="btn-group text-center">
                              <button type="button" class="btn btn-sm btn-rounded">Add</button>
                              <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                            </div>
                          </div>
                        </div>
                      </div>

                        <div class="col-xl-3">
                            <div class="cat__core__widget cat__core__widget--border cat__core__widget__1 px-3 py-5">
                                <div class="cat__core__widget__1__plus"></div>
                                <a class="cat__core__avatar cat__core__avatar--90 cat__core__avatar--border d-block mx-auto" routerLink="account">
                                    <img src="assets/images/sat.png" alt="Alternative text to the image">
                                </a>
                                <div class="my-3 text-center">
                                    <strong class="font-size-18">Saturdays New York</strong>
                                    <br />
                                    <span class="text-muted">New York / New York</span>
                                </div>
                                <div class="text-center">
                                    <div class="btn-group text-center">
                                        <button type="button" class="btn btn-sm btn-rounded">Add</button>
                                        <button type="button" class="btn btn-sm btn-rounded">Inbox</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cat__core__margin-fix"><!-- --></div>
                </div>
            </section>
        </div>
    </div>
</div>
