*,:after,:before{
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased
}
html{
	font:normal 400 100%/1.5 AtlasGroteskRegular,AtlasGrotesk-Regular,Helvetica Neue,HelveticaNeue,Helvetica,sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body{
	position:relative;
	margin:0;
	overflow-x:hidden;
	background-color:#fff
}
body.isModalActive{
	overflow:hidden
}
::-moz-selection{
	color:#fff;
	text-shadow:none;
	background:#000
}
::selection{
	color:#fff;
	text-shadow:none;
	background:#000
}
[hidden]{
	display:none
}
#root{
	overflow-x:hidden
}
#root:after{
	position:absolute;
	z-index:2;
	display:none!important;
	width:0;
	height:0;
	visibility:hidden
}
@media (min-width:40em){
	#root:after{
		z-index:2
}
}
@media (min-width:60em){
	#root:after{
		z-index:3
}
}
@media (min-width:85em){
	#root:after{
		z-index:4
}
}
@media (min-width:107.5em){
	#root:after{
		z-index:5
}
}
@media (min-width:130em){
	#root:after{
		z-index:6
}
}
@media (min-width:152.5em){
	#root:after{
		z-index:7
}
}
h1,h2,h3,h4,h5,h6{
	font-family:AtlasGroteskRegular,AtlasGrotesk-Regular,Helvetica Neue,HelveticaNeue,Helvetica,sans-serif;
	font-style:normal;
	font-weight:400;
	margin:0;
	font-size:.875rem
}
p{
	margin:.9375rem 0
}
dl,ol,p,ul{
	font-size:.875rem
}
p:empty{
	display:none
}
dd,dl,ol,ul{
	margin:0
}
ol,ul{
	padding:0
}
ol{
	margin-left:2.2em
}
ul{
	margin-left:1.2em
}
a{
	display:inline-block;
	color:inherit;
	text-decoration:none;
	background:transparent;
	transition:color .2s ease
}
.no-touch a:hover,a:active,a:focus{
	outline:0
}
[contenteditable=true] a,dd a,li a,p a{
	display:inline;
	border-bottom:1px solid
}
.no-touch p a:hover,p a:active,p a:focus{
	color:#aaa
}
em,i{
	font-family:AtlasGroteskRegular,AtlasGrotesk-Regular,Helvetica Neue,HelveticaNeue,Helvetica,sans-serif;
	font-style:italic;
	font-weight:400
}
b,strong{
	font-style:normal
}
b,b em,b i,em b,em strong,i b,i strong,strong,strong em,strong i{
	font-family:AtlasGroteskBold,AtlasGrotesk-Bold,Helvetica Neue,HelveticaNeue,Helvetica,sans-serif;
	font-weight:700
}
b em,b i,em b,em strong,i b,i strong,strong em,strong i{
	font-style:italic
}
small{
	font-size:.875em
}
sub,sup{
	position:relative;
	font-size:.75em;
	line-height:0;
	vertical-align:baseline
}
sup{
	top:-.5em
}
sub{
	bottom:-.25em
}
mark{
	padding:2px .3125rem;
	font-size:.875em;
	color:#000;
	background-color:#ffc
}
code,pre{
	font-family:AtlasTypewriterRegular,AtlasTypewriter-Regular,Andale Mono,Consolas,Lucida Console,Menlo,Luxi Mono,monospace;
	font-style:normal;
	font-weight:400;
	font-size:.75rem;
	background-color:#f1f1f1
}
code{
	display:inline-block;
	padding:2px .3125rem
}
pre{
	padding:.9375rem;
	margin:.9375rem 0;
	overflow:hidden;
	word-wrap:break-word;
	white-space:pre-wrap
}
pre code{
	padding:0;
	background-color:transparent
}
hr{
	display:block;
	height:1px;
	padding:0;
	margin:.9375rem 0;
	border:0;
	border-top:1px solid #f1f1f1
}
audio,canvas,img,svg,video{
	vertical-align:middle
}
audio:not([controls]){
	display:none;
	height:0
}
svg:not(:root){
	overflow:hidden
}
figure{
	margin:0
}
img{
	max-width:100%;
	font-size:.75rem;
	border:0;
	outline:0
}
table{
	width:100%;
	font-size:.875rem;
	border-spacing:0;
	border-collapse:collapse
}
tr{
	border-bottom:1px solid #f1f1f1
}
td,th{
	padding:.3125rem 0;
	text-align:left
}
th{
	font-family:AtlasGroteskBold,AtlasGrotesk-Bold,Helvetica Neue,HelveticaNeue,Helvetica,sans-serif;
	font-style:normal;
	font-weight:700;
	vertical-align:bottom
}
button,html input[type=button],input[type=reset],input[type=submit]{
	cursor:pointer;
	-webkit-appearance:button
}
button[disabled],html input[disabled]{
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0;
	border:0
}
button{
	position:relative;
	display:inline-block;
	padding:0;
	margin:0;
	font:inherit;
	color:inherit;
	text-transform:none;
	vertical-align:middle;
	background:transparent;
	border:0;
	border-radius:0;
	outline:0
}
button:before{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:2;
	content:"";
	background-color:transparent
}
input,textarea{
	padding:0;
	margin:0;
	font:inherit;
	color:inherit;
	border-radius:0;
	-moz-appearance:none;
	-webkit-appearance:none
}
input::-ms-clear{
	display:none;
	width:0;
	height:0
}
textarea{
	height:100%;
	overflow:auto;
	resize:none
}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{
	-webkit-appearance:none
}