.HeroShareUserButton .ShareIcon{
	margin-top:-.375rem;
	color:#fff
}
.FollowButton.isInHeader>.SVGIcon{
	vertical-align:top
}
.FollowButton.isInHeader[data-priority=friend]>.SVGIcon>g:first-child,.FollowButton.isInHeader[data-priority=noise]>.SVGIcon>g:first-child{
	fill:#aaa;
	stroke:#aaa
}
.FollowButton.isInHeader:hover>.SVGIcon>g:first-of-type{
	fill:#535353;
	stroke:#535353
}
.FollowButton:not(.isInHeader)>.PlusIconSM{
	margin-top:-2px
}
.FollowButton:not(.isInHeader)>.CheckIconSM{
	margin-top:-4px
}

.Post .BubbleIcon>g:nth-child(2),.Post .isCommentsActive .BubbleIcon>g,.WatchTool>button.isActive>.BoltIcon>g{
	fill:#000;
	stroke:#000
}
.no-touch .CommentTool>button:hover>.BubbleIcon>g,.no-touch .FlagTool>button:hover>.FlagIcon>g:nth-of-type(2){
	fill:#000
}
.IconTab.isActive .BubbleIcon>g,.IconTab.isActive .HeartIcon>g,.no-touch .IconTab:hover .BubbleIcon>g,.no-touch .IconTab:hover .HeartIcon>g{
	fill:#fff
}
.NotificationsContainerTabs .BubbleIcon>g:nth-child(2),.Post .BubbleIcon>g:nth-child(2),.Post .isCommentsRequesting .BubbleIcon>g:first-child,.StyleGuide .BubbleIcon>g:nth-child(2){
	display:none
}
.Post .isCommentsRequesting .BubbleIcon>g:nth-child(2){
	display:inline
}
.Post .isCommentsRequesting .BubbleIcon polygon{
	-webkit-animation:animateCommentsLoading .75s infinite cubic-bezier(.77,0,.175,1);
	animation:animateCommentsLoading .75s infinite cubic-bezier(.77,0,.175,1)
}
.PostTool .BubbleIcon,.PostTool .EyeIcon,.PostTool .HeartIcon,.PostTool .ShareIcon{
	margin-top:-2px
}
.PostTool .PencilIcon,.PostTool .RepostIcon{
	margin-top:-4px
}
.PostTool .XBoxIcon{
	padding-left:1px
}
.PencilIcon>g,.Post .XBoxIcon>g{
	stroke-linecap:square;
	transition-delay:.1s,0s,0s
}
.RepostHeader .RepostIcon>g{
	stroke:#535353
}
.ViewsTool .EyeIcon>circle{
	fill:currentColor;
	stroke:transparent;
	transition:fill .2s ease,stroke .2s ease
}
.no-touch .ViewsTool>a:hover>.EyeIcon>circle{
	stroke:#000;
	transition-delay:.2s,0s
}
.no-touch .ViewsTool>a:hover>.EyeIcon>g{
	stroke:#000
}
.no-touch .LoveTool>button:hover>.HeartIcon>g{
	fill:#000
}
.LoveTool>button.isActive>.HeartIcon>g{
	fill:red;
	stroke:red
}
.no-touch .LoveTool>button.isActive:hover>.HeartIcon>g{
	fill:#f99;
	stroke:#f99
}
.no-touch .ShareTool>button:hover>.ShareIcon>g:nth-of-type(2){
	-webkit-transform:translate3d(0,-1px,0);
	transform:translate3d(0,-1px,0)
}
.no-touch .DeleteTool>button:hover>.XBoxIcon>g:nth-of-type(2){
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
.ShareTool.isPill .ShareIcon{
	display:none
}
.CommentTools .ReplyTool .SVGIcon{
	margin-top:-2px
}
.CommentTools .MoreTool .SVGIcon{
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}
.CommentTools.isMoreToolActive .MoreTool .SVGIcon{
	color:#000;
	-webkit-transform:none;
	transform:none
}
@media (max-width:39.9375em){
	.CommentTools .MoreTool .SVGIcon{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg)
}
	.CommentTools.isMoreToolActive .MoreTool .SVGIcon{
		color:#000;
		-webkit-transform:none;
		transform:none
}
}
.BrowseIcon>g{
	fill:#fff
}
.ElloBuyButton>.SVGIcon.MoneyIcon>g{
	fill:#fff;
	stroke:#fff;
	stroke-width:.5
}
.PostActionButton .BrowseIcon>g{
	fill:transparent
}
.PostActionButton .XIconLG{
	margin-top:-2px;
	margin-left:-2px
}
.SVGIcon.MoneyIconCircle path{
	fill:#fff;
	stroke:none
}
.PostActionButton .SVGIcon>g{
	stroke:#fff
}
.TextToolButton.forLink>.SVGIcon{
	margin-top:-2px;
	margin-left:-1px
}
@media (min-width:40em){
	.no-touch .BlockRemove>.XIcon{
		transition-duration:.2s,.2s,.4s;
		-webkit-transform-origin:center center;
		transform-origin:center center
}
	.no-touch .BlockRemove:hover>.XIcon{
		transition-delay:.5s,.5s,.7s;
		-webkit-transform:rotate(1turn);
		transform:rotate(1turn)
}
	.no-touch .ElloBuyButton:hover>.SVGIcon.MoneyIcon>g{
		fill:#000;
		stroke:transparent
}
}
.HeroScrollToContentButton .ChevronCircleIcon{
	margin-top:-2px;
	transition:-webkit-transform .2s cubic-bezier(.23,1,.32,1);
	transition:transform .2s cubic-bezier(.23,1,.32,1);
	transition:transform .2s cubic-bezier(.23,1,.32,1),-webkit-transform .2s cubic-bezier(.23,1,.32,1);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg)
}
.HeroScrollToContentButton .ChevronCircleIcon g{
	fill:none;
	stroke:#fff
}
.FooterTool.LayoutTool>.SVGIcon{
	margin-top:-2px
}
.FooterTools .ChevronIcon{
	margin-top:-2px;
	transition:-webkit-transform .2s cubic-bezier(.23,1,.32,1);
	transition:transform .2s cubic-bezier(.23,1,.32,1);
	transition:transform .2s cubic-bezier(.23,1,.32,1),-webkit-transform .2s cubic-bezier(.23,1,.32,1);
	-webkit-transform:rotate(-90deg);
	transform:rotate(-90deg)
}
.OnboardingInfoForm .SVGIcon{
	-webkit-transform:scale(.6);
	transform:scale(.6)
}
.FormControlStatus>.SVGIcon>g{
	stroke-width:2
}
.FormControlStatus>.CircleIconLG>g{
	fill:#aaa;
	stroke:transparent
}
.FormControlStatus>.CheckIconLG>g{
	stroke:#06a54f;
	stroke-linejoin:bevel
}
.FormControlStatus>.XIconLG>g{
	stroke:red
}
.MarkerIcon{
	color:#ababab
}
.Omnibar .ChevronIcon{
	margin-right:.3125rem;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg)
}
.BlockMuteButton>.DotsIcon>g{
	fill:#fff;
	stroke:transparent
}
.no-touch .BlockMuteButton:hover>.DotsIcon>g{
	fill:red
}