.form {
  animation: fadeIn 600ms
}
.header-image {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.59)), url('https://images.unsplash.com/photo-1456324504439-367cee3b3c32?dpr?dpr=2&auto=format&fit=crop&w=1500&h=1011&q=80&cs=tinysrgb&crop=') center;
}

.upload-file-container {
  margin: 30px 0;
  text-align: right;
}

.upload-file-container .custom-progress {
  width: 100%;
  text-align: center;
  background-color: #51c251;
  color: white;
}
