.form {
  animation: fadeIn 600ms
}
.header-image {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.29), rgba(0, 0, 0, 0.59)), url('https://images.unsplash.com/photo-1456324504439-367cee3b3c32?dpr?dpr=2&auto=format&fit=crop&w=1500&h=1011&q=80&cs=tinysrgb&crop=') center;
}

.add-spot-container {
  position: absolute;
  right: 50px;
  top: 100px;

  button {
    font-size: 20px;
    font-weight: bold;
  }
}

.spot-list-container {
  width: 50%;
  margin: auto;
  height: 300px;
  overflow: auto;
  margin-top: 50px;

  .list-item-container {
    padding: 10px;
    border: solid 1px #a4a1a1;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
}
